<!DOCTYPE html>
<html>
	<head>
		<title>Тайтл страницы</title>
	</head>
	<body>
		<div id="result"></div>
		<input type="submit" id="button">
		
	<script>	
		let result = document.getElementById('result');
		let button = document.getElementById('button');

		button.addEventListener('click', function() {
			let promise = fetch('/ajax/');
		promise.then(
		//console.log( response );
				 response => {
					return response.text();
				}
			).then(
				text => {
					result.innerHTML = text;
				}
				
			);
		});
	</script>
		
		
	</body>
</html>